/*
 background = #404d55
 yellow1    = #d69616
 yellow2    = #ba7a14
 yellow3    = #895928
 */

/* Base
   ========================================================================== */

body {
    font-family: 'Roboto Slab', sans-serif;
    text-rendering: optimizeLegibility;
}

#map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #404d55;
}

.btn-primary {
    background: #d69616 !important;
    border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #ba7a14 !important;
    outline: none;
}

.btn-default {
    background: none;
    color: #fff;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background: #fff;
    border-color: #fff;
}

.btn:disabled {
    opacity: 1;
    color: rgba(255,255,255,0.3);
}

.form-control {
    border: none;
}

h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: 20px;
    color: #fff;
}

a {
    color: #d69616;
}
a:hover,
a:active {
    color: #ba7a14;
}

.box {
    color: #fff;
    background: #404d55;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #fff;
    font-weight: 100;
    line-height: 1.5;
}

.close {
    color: #fff;
    text-shadow: none;
    font-size: 32px;
    opacity: 1;
}

.spinner {
    position: relative;
    height: 26px;
    width: 26px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 4px solid rgba(255,255,255,.2);
    border-right: 4px solid rgba(255,255,255,.2);
    border-bottom: 4px solid rgba(255,255,255,.2);
    border-top: 4px solid rgba(255,255,255,1);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

/* Automcomplete
   ========================================================================== */
.ui-autocomplete {
    background: #fff;
    border-radius: 5px;
    padding: 0px;
    overflow: hidden;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    color: #fff;
    margin: 0px;
    background: #d69616;
}

/* Start view
   ========================================================================== */

#start-view form {
    max-width: 440px;
    margin: 10% auto;
}

#start-view form .form-group:last-child {
    margin-bottom: 0px;
}

#start-view .logo {
    text-align: center;
}

#start-view h1 {
    color: #fff;
    margin-bottom: 20px;
}

#start-view h2 {
    color: #d69616;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 1px;
}

#start-view .spinner {
    display: none;
    position: relative;
    top: -35px;
    left: -10px;
    float: right;
}

#start-view .examples {
    font-size: 85%;
}

#start-view .show {
    cursor: pointer;
    text-align: center;
}



/* Result view
   ========================================================================== */

#result-view {
    display: none;
}

#result-view .government {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    padding: 20px;
    background: #fff;
    overflow: auto;
}

#map.result {
    right: 40%;
}

@media (max-width: 768px) {
    #map.result {
        right: 0;
        height: 200px;
    }
    #result-view .government {
        font-weight: 13px;
        position: static;
        margin-top: 200px;
        width: 100%;
        height: auto;
        clear: both;
        font-size: 
    }
    #search-again {
        display: none;
    }
    #result-view footer {
        position: static !important;
        clear: both;
        height: 130px !important;
    }
    #result-view footer .about {
        clear: both;
        float: none;
        width: 80%;
        margin-top: 20px;
    }
}

#result-view .government h1 {
    font-size: 24px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

#result-view .government h1 strong {
    color: #d69616;
}

#result-view .minister {
    float: left;
}

#result-view .minister.l {
    width: 100%;
    height: 140px;
}

#result-view .minister.m {
    width: 33%;
    height: 120px;
}

#result-view .minister.s {
    width: 62px;
    height: 60px;
}

#result-view .minister .thumbnail {
    margin: auto;
    background-color: #000;
    border-radius: 50%;
    border: none;
}

#result-view .minister.l .thumbnail {
    width: 80px;
    height: 80px;
}

#result-view .minister.m .thumbnail {
    width: 50px;
    height: 50px;
}

#result-view .minister.s .thumbnail {
    width: 30px;
    height: 30px;
}

#result-view .minister .thumbnail.m  { background-color: #3971a8; }
#result-view .minister .thumbnail.c  { background-color: #328052; }
#result-view .minister .thumbnail.fp { background-color: #68a2cc; }
#result-view .minister .thumbnail.kd { background-color: #3b4a82; }
#result-view .minister .thumbnail.mp { background-color: #73b33e; }
#result-view .minister .thumbnail.s  { background-color: #de493c; }
#result-view .minister .thumbnail.v  { background-color: #ab242f; }
#result-view .minister .thumbnail.sd { background-color: #895928; }

#result-view .minister .name {
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

#result-view .minister .title {
    text-align: center;
    font-weight: 300;
}

#result-view footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    padding: 20px;
    text-align: center;
    background: #404d55;
}

#result-view footer .share {
    margin: 0px;
    float: left;
}

#result-view footer .twitter-share-button {
    margin-left: 30px;
    vertical-align: bottom;
}

#result-view .about {
    float: right;
}

/* Search again 
   ========================================================================== */

#search-again {
    position: absolute;
    left: 20px;
    bottom: 70px;
    background-color: #fff;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
}

/* About view
   ========================================================================== */

#about-view {
    display: none;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    max-width: 500px;
}

/* Animations
   ========================================================================== */

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  25% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  25% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}